<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="js/hotel.js" type="text/javascript"></script>
  <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/hotel.css">
  <link rel="stylesheet" href="css/loading.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title>reservation</title>
  <style type="text/css">
  </style>
</head>
<body>
  <div id="vue">
    <!-- 回上一頁按鈕 -->
    <label v-show='isLabel' class='slide_untodo' @click="page_click">回上一頁</label>
    <!-- 側邊攔 -->
    <aside class='slideMenu'>
      <h1>Hotel</h1>
      <a :href='url'>Home</a>
      <table class='menu_detail'>
        <tr>
          <td colspan="2">練習範例資料來源：https://challenge.thef2e.com/
          api/thef2e2019/stage6/rooms</td>
        </tr>
        <tr>
          <td><i class="fa fa-phone" aria-hidden="true"></i></td>
          <td>0912 345 678</td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
          <td>Hotels@hotels.com</td>
        </tr>
        <tr>
          <td></td>
          <td>Reservation Opening Hours</td>
        </tr>
        <tr>
          <td></td>
          <td>Weekday 8am – 8pm</td>
        </tr>
        <tr>
          <td></td>
          <td>Weekend 9am – 6pm</td>
        </tr>
      </table>
    </aside>
    <div class="loading" v-if="loading === true">
      <div class="loader-inner pacman"></div>
      <div>資料讀取中</div>
    </div>
    <div class=""></div>
    <!-- 六個房間 -->
    <transition name="fade">
      <main class="wrap" v-show='isShow'>
        <section class="rooms" v-for='(index, key) in api_data'>
          <article class="rooms_img">
            <img :src="index.imageUrl" alt="">
          </article>
          <article class="text">
            <h1>{{index.name}}</h1>
            <div class="detail_text">
              <p>Weekday Rate</p>
              <p>$ {{index.normalDayPrice}} TWD / night</p>
              <p>Weekend Rate</p>
              <p>$ {{index.holidayPrice}} TWD / night</p>
              <div class='more' @mouseover="more_mouseover" @mouseout="more_mouseout" @click="more_click(index.id)">
                <strong>more</strong>
              </div>
            </div>
          </article>
        </section>
      </main>
    </transition>
    <!-- 各個房間詳細資訊 -->
    <transition name="fade">
      <main class="room" v-show='!isShow'>
        <section class="room_img">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div v-for='(index, key) in room.imageUrl' :class="key === 0 ? 'carousel-item active' : 'carousel-item'">
                <img :src="index" alt="">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
            </button>
          </div>
        </section>
        <section class="room_data">
          <h2>{{room.name}}</h2>
          <div class='room_detail'>
            <div class="description">
              <p>{{room.description}}</p>
            </div>
            <div class="descriptionShort">
              <div class="item" v-for='(index, key) in descriptionShort'>
                <div class="item_title">
                  {{descriptionShort_text[key]}}
                </div>
                <div class="item_text">
                  {{index}}
                </div>
              </div>
            </div>
            <div class="amenities">
              <div v-for='(index,key) in room.amenities' :class="index ? 'active' : 'noactive'">
                <i :class="'fa fa-' + amenities_img[key]" aria-hidden="true"></i>{{key}}
              </div>
            </div>
          </div>
        </section>
      </main>
          <!-- <div v-for='index in room.imageUrl'>
            <p>{{index}}</p>
          </div> -->
    </transition>
  </div>
  <script>
    // var elem = document.getElementById("animate"); 
    // var left = 0;
    // var bound = false;
    
    // requestAnimationFrame(Move);

    // function Move() {
    //   console.log(123);
    //     if(left === 0 || left === 350) {
    //         bound = !bound;
    //     }
    //     (bound) ? left++ : left--;
    //     elem.style.left = left + 'px'; 
    //     window.requestAnimationFrame(Move);
    // }
  </script>
  <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/loading.js"></script>
</body>
</html>