<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="js/map.js" type="text/javascript"></script>
  <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="css/loading.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
  <title>Document</title>
  <style type="text/css">
  .loading {
    background-color: rgb(62, 185, 223);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
  }
  
  </style>
</head>
<body>
  <div id="vue">
    <div class="loading" v-if="loading === true">
      <div class="loader-inner pacman"></div>
      <div>資料讀取中</div>
    </div>
    <div class="open" @click='open_side(1)'>
      <label for=""><i class="fa fa-arrow-left" aria-hidden="true"></i></label>
    </div>
    <aside>
      <header>
        <h1>查詢口罩數量</h1>
        <p>藥局資料來源：https://raw.githubusercontent.com/</p>
        <p>kiang/pharmacies/master/json/points.json</p>
        <div class="search">
          <input type="text" placeholder="搜尋藥局名稱" class='search_input' v-model="search_input">
          <label for="" @click='search'><i class="fa fa-search" aria-hidden="true"></i></label>
        </div>
        <div class="filter">
          <div class="checkboxes">
              <input type="checkbox" name="mask" id="adult" class="checkbox" 
              :class="{active: checkboxes[0] === true}" v-model="checkboxes[0]">
              <label for="adult">成人口罩</label>
              <input type="checkbox" name="mask" id="child" class="checkbox" 
              :class="{active: checkboxes[1] === true}" v-model="checkboxes[1]">
              <label for="child">兒童口罩</label>
          </div>
          <p>選擇縣市</p>
          <select name="areas" class="areas" v-model="selected">
              <option v-for="index in areas" class="option">{{index}}</option>
          </select>
        </div>
      </header>
      <section>
        <ul class="list">
          <li v-for="index in data" @click='list_data(index)'>
              <h2>{{index.properties.name}}</h2>
              <div class="mask">
                  <div class="adult">成人口罩：<span>{{index.properties.mask_adult}}</span></div>
                  <div class="child">兒童口罩：<span>{{index.properties.mask_child}}</span></div>
              </div>
              <div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{index.properties.address}}</div>
              <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i><a :href="'tel:'+index.properties.phone">{{index.properties.phone}}</a></div>
              <div class="updated">最新更新時間：{{index.properties.updated}}</div>
          </li>
        </ul>
      </section>
    </aside>
    <div id="map"></div>
  </div>
  <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  <script src="js/loading.js"></script>
</body>
</html>